body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tarjeta {
  width: 18rem;
}

.image {
  height: 400px ;
  object-fit: contain;
  cursor: pointer;
}

.image_no_pointer {
  height: 400px ;
  object-fit: contain;
  cursor: default;
}

.fondo {
  background-color: gainsboro;

}

.artist-collection {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.label-left {
  text-align: left;
}

.foto {
  cursor: pointer;
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 350px;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: left;
  text-shadow: 0px 0px 15px black;
}

.heart_pointer {
  cursor: pointer;
}

.heart_pointer:not(.filled) path {
  fill: none;
  stroke: black;
  stroke-width: 2;
}

.heart_pointer.filled path {
  fill: red;
  stroke: none;
}
/* .navbar, */
.footer, .cardHome, .imgHome{
  background: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75)), url("https://img.freepik.com/vector-premium/papel-pintado-abstracto-acuarela-colorida_1034-2362.jpg") 
  ;
  background-position: center;
}

.imgHome{
height: 80vh;
background-repeat: no-repeat;
text-align: center;
align-items: center;
display: flex;
justify-content: center;

}

.cardHome{
  background-repeat: repeat;

}

.imgHomeh1{
  color:white;
  display: block;
  transition: all .5s;
  /* animation: mover-izquierda-derecha 2s infinite;   */
}
/* @keyframes mover-izquierda-derecha{
  from {
    transform: translateX(-100px);
  }
  to{
    transform: translateX(10px)
  }
} */

.imgHomeh1:hover{
  transform: scale(1.09);
}

.navbarHome{
  background-color: #444649;
  display: flex;
  justify-content: flex-end;
  

}

.navbarHome div div h6:hover{
  transform: scale(1.2);
}

.formulario{
  
  /* text-align: center; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  width: 80%;
  margin-left: 10%;
}

.ancho{
  width: 80%;
  text-align: center;
  color: white;
}

.perfil{
  background-color: #031633;
  width: 100%;
}

.inputReg{
 width: 120%;;
}

.registro{
  margin-top: 10%;
  /* width: 60%; */
}

.login{
  margin-top: 10%;
  background-color: #0A5D00;
  color: white;
}